
@{
    ViewData["Title"] = "ConsultarPessoa";
}

<h1>ConsultarPessoa</h1>

<div><b>ID:</b> @ViewBag.Id</div>
<div>
    <b>Nome:</b> 
    @ViewBag.Nome
    </div>
<div>
    <b>
        Sexo:
        </b> 
    @ViewBag.Sexo
</div>

