@model AppTerceiro.Models.Fisica
@{
    ViewData["Tittle"] = "Home Page";
}
<main aria-labelledby="tittle">
    <h2>Id:@Model.Id</h2>
    <h2>Nome:@Model.Nome</h2>
    <h2>Sexo:@Model.Sexo</h2>
    <h2>CPF:@Model.CPF</h2>
    <h2>RG:@Model.RG </h2>
    <h2>Dig_RG:@Model.Dig_RG</h2>
</main>
